<h1>Welcome</h1>
<h2>This page is all about the Game Rock, Paper, Scissors<br>a game for 2 people with no equipment needed</h2>

<p>RPS is a decision making game of wits, speed, dexterity and strategy between players who are unable <br>
  to reach a decision using other means. The result of a game is considered a binding agreement between the players.<br>
   RPS is a game played by honourable people and therefore every effort should be made to commit to the outcome.<br>
   The game is played by substituting the elements of: Rock, Paper and Scissors with standard hand signals.</p>
<h3>a clenched fist = rock,     a flat hand = paper,     2 fingers = scissors</h3>
<h1>To play the game</h1>


<p>Two players face each other with one hand in a fist in front of them<br>on the count of three they reveal their choice of item.<br>
best out 3 is the usual way but you can make it as many as you like.</p>
<p>To win you must have one of the following combinations:s</p>
<h3>Rock smashes Scissors</h3>
<h3>Scissors cuts Paper</h3>
<h3>Paper envelopes Rock</h3>
<p>for more information</p>
