<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>R.P.S.</title>
      <link rel='stylesheet' href='/style.css'>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>home</a></li>
        <li><a href='http://worldrps.com/game-basics/the-official-rules-of-rock-paper-scissors'>more info</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
